@page
@model AspnetRunBasics.CartModel
@{
    ViewData["Title"] = "Cart";
}

<div class="container">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="Index">Trang chủ</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Giỏ hàng</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col">Sản phẩm</th>
                            <th scope="col">Tình trạng</th>
                            <th scope="col">Số lượng</th>
                            <th scope="col">Màu sắc</th>
                            <th scope="col" class="text-right">Giá</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var cartItem in Model.Cart.Items)
                        {
                            <tr>
                                <td><img src="@cartItem.ImageFile" width="50px" height="50px" /></td>
                                <td>@cartItem.ProductName</td>
                                <td>In stock</td>
                                <td>@cartItem.Quantity</td>
                                <td>@cartItem.Color</td>
                                <td class="text-right">@(cartItem.SalePrice * cartItem.Quantity) $</td>
                                <td class="text-right">
                                    <form asp-page-handler="removetocart" method="post">
                                        <button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>
                                        <input type="hidden" asp-for="@cartItem.ProductID" name="productId" />
                                        <input type="hidden" asp-for="@cartItem.Color" name="color" />
                                    </form>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Tổng tiền</strong></td>
                            <td class="text-right"><strong>@Model.Cart.TotalAmount $</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12  col-md-6">
                    <a asp-page="Product" class="btn btn-lg btn-block btn-success text-uppercase">Tiếp tục mua sắm</a>
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <a asp-page="SelecteDelivery" class="btn btn-lg btn-block btn-danger text-uppercase">Thanh toán</a>
                </div>
            </div>
        </div>
    </div>
</div>
