@page
@model AspnetRunBasics.CheckOutModel
@{
    ViewData["Title"] = "CheckOut";
}

<div class="container">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="Index">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a asp-page="Cart">Giỏ hàng</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Thanh toán</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your cart</span>
                <span class="badge badge-secondary badge-pill">@Model.Cart.Items.Count</span>
            </h4>
            <ul class="list-group mb-3">

                @foreach (var item in Model.Cart.Items)
                {
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">@item.ProductName</h6>
                            <small class="text-muted">@item.ProductName</small>
                        </div>
                        <span class="text-muted">@item.Quantity</span>
                        <span class="text-muted">$@item.SalePrice</span>
                    </li>
                }

                <li class="list-group-item d-flex justify-content-between">
                    <span>Thành tiền (VNĐ)</span>
                    <strong>@Model.Cart.TotalAmount</strong>
                </li>
            </ul>

            <form class="card p-2">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Promo code">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-secondary">Redeem</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Địa chỉ thanh toán</h4>
            <form asp-page-handler="CheckOut" method="post" class="needs-validation" novalidate>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label asp-for="Order.DeliveryInfo.FirstNameReceiver" for="firstName">Họ</label>
                        <input asp-for="Order.DeliveryInfo.FirstNameReceiver" type="text" class="form-control"
                            id="firstName" placeholder="" value="@Model.objDelivery.FirstNameReceiver" required>
                        <div class="invalid-feedback">
                            Thông tin không để trống
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label asp-for="Order.DeliveryInfo.LastNameReceiver" for="lastName">Tên</label>
                        <input asp-for="Order.DeliveryInfo.LastNameReceiver" type="text" class="form-control"
                            id="lastName" placeholder="" value="@Model.objDelivery.LastNameReceiver" required>
                        <div class="invalid-feedback">
                            Thông tin không để trống
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label asp-for="Order.DeliveryInfo.PhoneNo" for="phoneNo">Số điện thoại</label>
                    <input asp-for="Order.DeliveryInfo.PhoneNo" type="number" class="form-control" id="phoneNo"
                        placeholder="" value="@Model.objDelivery.PhoneNo" required>
                    <div class="invalid-feedback" style="width: 100%;">
                        Vui lòng điền số điện thoại
                    </div>
                </div>

                <div class="mb-3">
                    <label asp-for="Order.DeliveryInfo.Email" for="email">
                        Email
                    </label>
                    <input asp-for="Order.DeliveryInfo.Email" type="email" class="form-control" id="email"
                        value="@Model.objDelivery.Email" placeholder="you@example.com">
                    <div class="invalid-feedback">
                        Vui lòng nhập địa chỉ mail để nhận thông tin xác nhận đơn hàng
                    </div>
                </div>

                <div class="mb-3">
                    <label asp-for="Order.DeliveryInfo.Address" for="address">Địa chỉ giao hàng</label>
                    <input asp-for="Order.DeliveryInfo.Address" type="text" class="form-control" id="address"
                        value="@Model.objDelivery.Address" placeholder="1234 Main St" required>
                    <div class="invalid-feedback">
                        Vui lòng nhập địa chỉ giao hàng
                    </div>
                </div>
                <input asp-for="Order.DeliveryInfo.IsExist" type="hidden" value="@Model.objDelivery.IsExist">
                <input asp-for="Order.DeliveryInfo.DeliveryID" type="hidden" value="@Model.objDelivery.DeliveryID">

                <hr class="mb-4">

                <h4 class="mb-3">Thông tin thanh toán</h4>

                <div class="d-block my-3">
                    <div class="custom-control custom-radio">
                        <input asp-for="Order.PaymentInfo.PaymentMethod" id="credit" type="radio" value="Credit card"
                            class="custom-control-input" checked required>
                        <label asp-for="Order.PaymentInfo.PaymentMethod" class="custom-control-label" for="credit">Thẻ
                            tín dụng</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input asp-for="Order.PaymentInfo.PaymentMethod" id="debit" type="radio" value="Debit card"
                            class="custom-control-input" required>
                        <label asp-for="Order.PaymentInfo.PaymentMethod" class="custom-control-label" for="debit">
                            Thẻ ghi nợ
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label asp-for="Order.PaymentInfo.CardName" for="cc-name">Name on card</label>
                        <input asp-for="Order.PaymentInfo.CardName" type="text" class="form-control" id="cc-name"
                            placeholder="" required>
                        <small class="text-muted">Full name as displayed on card</small>
                        <div class="invalid-feedback">
                            Thông tin không được để trống
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label asp-for="Order.PaymentInfo.CardNo" for="cc-number">Credit card number</label>
                        <input asp-for="Order.PaymentInfo.CardNo" type="text" class="form-control" id="cc-number"
                            placeholder="" required>
                        <div class="invalid-feedback">
                            Thông tin không được để trống
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <label asp-for="Order.PaymentInfo.Expiration" for="cc-expiration">Expiration</label>
                        <input asp-for="Order.PaymentInfo.Expiration" type="text" class="form-control"
                            id="cc-expiration" placeholder="" required>
                        <div class="invalid-feedback">
                            Thông tin không được để trống
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label asp-for="Order.PaymentInfo.CVV" for="cc-expiration">CVV</label>
                        <input asp-for="Order.PaymentInfo.CVV" type="text" class="form-control" id="cc-cvv"
                            placeholder="" required>
                        <div class="invalid-feedback">
                            Mã bảo mật không được để trống
                        </div>
                    </div>
                </div>
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Hoàn tất</button>
            </form>
        </div>
    </div>
</div>