@page
@model AspnetRunBasics.OrderModel
@{
    ViewData["Title"] = "Order";
}

<div class="container">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="Index">Trang chủ</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Đơn hàng</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Sản phẩm</th>
                            <th scope="col">Email</th>
                            <th scope="col">Địa chỉ</th>
                            <th scope="col" class="text-center">Số điện thoại</th>
                            <th scope="col" class="text-right">Giá</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var order in Model.Orders)
                        {
                            <tr>
                                <td>@order.DeliveryInfo.FirstNameReceiver @order.DeliveryInfo.LastNameReceiver</td>
                                <td>@order.DeliveryInfo.Email</td>
                                <td>@order.DeliveryInfo.Address</td>
                                <td  class="text-center">@order.DeliveryInfo.PhoneNo</td>
                                <td class="text-right">@order.TotalAmount VNĐ</td>
                                <td class="text-right">
                                    <form asp-page="SaleOrderDetail" method="get">
                                        <button class="btn btn-primary"><i class="fa fa-info"></i></button>
                                        <input type="hidden" asp-for="@order.CustomerID" name="customerId" />
                                        <input type="hidden" asp-for="@order.OrderID" name="orderId" />
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12  col-md-6">
                    <a asp-page="Product" class="btn btn-lg btn-block btn-success">Tiếp tục mua sắm</a>
                </div>
            </div>
        </div>
    </div>
</div>
