@page
@model AdminWebApp.Pages.EditProductModel
@{
    ViewData["Title"] = "Chỉnh sửa thông tin sản phẩm";
}

@if (Model.Product != null)
{
    <form asp-page="EditProduct" asp-page-handler="Update" method="post">
        <input type="text" hidden="hidden" value="@Model.Product.Id"  asp-for="UpdateProductModel.Id"/>
        <div class="row">
            <div class="col-4 ml-3">
                <div class="form-group">
                    <label class="col-md-4 control-label">Tên sản phẩm</label>
                    <div class="col-md-12">
                        <input class="form-control input-md" required type="text" asp-for="UpdateProductModel.Name" value="@Model.Product.Name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="product_id">Đơn giá</label>
                    <div class="col-md-12">
                        <input placeholder="PRODUCT NAME" class="form-control input-md" required type="number" asp-for="UpdateProductModel.PriceLogDTO.SalePrice" value="@Model.Product.SalePrice">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="product_id">Số lượng</label>
                    <div class="col-md-12">
                        <input placeholder="PRODUCT NAME" class="form-control input-md" required type="number" asp-for="UpdateProductModel.Quantity" value="@Model.Product.Quantity">
                    </div>
                </div>
                <!-- Textarea -->
                <div class="form-group">
                    <label class="col-md-4 control-label">Mô tả</label>
                    <div class="col-md-12">
                        <textarea class="form-control" asp-for="UpdateProductModel.Description" rows = "4" với cols = "50">@Model.Product.Description</textarea>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <figure class="view overlay rounded z-depth-1 main-img">
                    <img src="@Model.Product.LinkImage"
                         class="img-fluid z-depth-1">
                </figure>
            </div>
        </div>

        <div class="input-group-append">
            <button class="btn btn-secondary" type="submit">
                Cập nhật sản phẩm
            </button>
        </div>
    </form>
}


